html, body, body div, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
.topBarBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navBoxIcons {
  margin-right: 5px;
  margin-left: 5px;
}
h1 {
  align-self: center;
  text-align: center;
}